:root {
  /* Couleurs principales */
  --primary: #0073CF;
  --primary-light: #4FA9FF;

  /* Couleurs secondaires */
  --secondary: #FF8C00;
  --secondary-light: #FFA500;

  /* Layout */
  --background: #F8F9FA;

  /* Texte */
  --text: #0D1B2A;
  --secondary-text: #1e293b;
  --white: #FFFFFF;

  /* Bordures */
  --border: #D1D5DB;

  /* États */
  --success: #28A745;
  --error: #DC3545;
  --warning: #FFC107;
  --gris: #808080;
  --standard-off-white: #FAF9F6;
}

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;